@import 'tailwindcss';
@import 'tw-animate-css';

@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  box-sizing: border-box;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --container-width: 82rem;
}

html {
  box-sizing: border-box;
}

.font-sans {
  font-family: var(--font-geist), sans-serif;
}

.font-geometric {
  font-family: var(--font-geometric), sans-serif;
}

.container-width {
  max-width: var(--container-width);
}
