@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-card: #fff;
  --color-background: #fbfbfb;
  --color-background-light: #f7f7f7;
  --color-background-dark: #000;
  --color-foreground: #000;
  --color-border: #eaeaea;
  --color-inverted: #000;
  --color-background-inverted: #000000;
  --container-width: 120rem;
  --color-primary: #90c360;
  --color-positive: #90c360;

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
}

@layer base {
  [data-theme='dark'] {
    --color-card: #000;
    --color-background: #000000;
    --color-foreground: #ffffff;
    --color-border: #1f1f1f;
    --color-primary: #90c360;
    --color-primary-dimmed: #2a4016;
    --color-inverted: #000000;
    --color-background-inverted: #ffffff;
    --color-primary: #90c360;
    --color-positive: #90c360;

    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
  }
  [data-color-theme='green'] {
    --color-primary: #90c360;
  }
  [data-color-theme='orange'] {
    --color-primary: #eb7f32;
  }

  [data-color-theme='blue'] {
    --color-primary: #4c9ce7;
  }

  [data-color-theme='purple'] {
    --color-primary: #945bd9;
  }
}

:root[data-theme='light'] {
  background-color: var(--color-background);
}

:root[data-theme='dark'] {
  background-color: var(--color-background);
}

html {
  box-sizing: border-box;
}

.font-sans {
  font-family: var(--font-geist), sans-serif;
}

.font-geometric {
  font-family: var(--font-geometric), sans-serif;
}

.font-mono {
  font-family: var(--font-mono), sans-serif;
}

.container-width {
  max-width: var(--container-width);
}

.bg-grid {
  background-size: 350px 350px;
  background-position: -1px 0;
  background-image: linear-gradient(
      to right,
      var(--color-border) 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      var(--color-border) 1px,
      transparent 1px
    );
}
