@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-card: #fff;
  --color-background-light: #fcfafa;
  --color-background-dark: #000;

  --color-border: #eaeaea;
  --color-primary: #ff7d36;
  --color-inverted: #000;
  --color-background-inverted: #000000;
  --container-width: 120rem;
}

@layer base {
  [data-theme='light'] {
    --color-card: hsl(0, 0%, 100%);
    --color-border: #eaeaea;
    --color-inverted: #ffffff;
    --color-background-inverted: #000000;
  }
  [data-theme='dark'] {
    --color-card: hsl(0, 0%, 0%);
    --color-border: #1f1f1f;
    --color-primary: #36ff4e;
    --color-inverted: #000000;
    --color-background-inverted: #ffffff;
  }
  [data-theme='custom'] {
    --color-card: hsl(182, 87%, 39%);
  }
  [data-theme='pastel'] {
    --color-card: hsl(291 46% 83%);
  }
}

:root[data-theme='light'] {
  background-color: var(--color-background-light);
}

:root[data-theme='dark'] {
  background-color: var(--color-background-dark);
}

:root[data-theme='custom'] {
  background-color: var(--color-background-custom);
}

:root[data-theme='pastel'] {
  background-color: var(--color-background-pastel);
}

html {
  box-sizing: border-box;
}

.font-sans {
  font-family: var(--font-geist), sans-serif;
}

.font-geometric {
  font-family: var(--font-geometric), sans-serif;
}

.font-mono {
  font-family: var(--font-mono), sans-serif;
}

.container-width {
  max-width: var(--container-width);
}

.bg-grid {
  background-size: 350px 350px;
  background-position: -1px 0;
  background-image: linear-gradient(
      to right,
      var(--color-border) 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      var(--color-border) 1px,
      transparent 1px
    );
}
